﻿<template>
  <div>
    <highcharts :options="chartOptions"></highcharts>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Panel extends Vue {

    private chartOptions = {
        title: {
          text: "Product seling via gender"
        },
        chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: "pie"
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: "pointer",
            dataLabels: {
              enabled: true,
              format: "<b>{point.name}</b>: {point.percentage:.1f} %"
            }
          }
        },
        series: [
          {
            colorByPoint: true,
            data: [
              {
                name: "female",
                y: 48,
                sliced: true,
                selected: true
              },
              {
                name: "male",
                y: 52
              }
            ]
          }
        ]
    }

}
</script>