﻿<template>
  <div>
    <v-card class="mx-auto" outlined>
      <v-toolbar>
        <v-toolbar-title class="headline mb-1">{{ title }}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn large color="red" @click="save">Save</v-btn>
        <router-link to="/products/list">
          <v-btn>Anuluj</v-btn>
        </router-link>
      </v-toolbar>
      <v-form v-model="valid">
        <v-text-field v-model="newProduct.name" :rules="validator.textField" label="Name" required></v-text-field>
        <v-text-field
          v-model="newProduct.description"
          label="Deskription"
          :rules="validator.textField"
          required
        ></v-text-field>
        <v-text-field v-model="newProduct.price" label="Price" required></v-text-field>
      </v-form>
    </v-card>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Axios from "axios-observable";

import Product from "../../models/Product";

@Component
export default class Add extends Vue {

  private title: String = "Dodaj Produkt";
  private valid: Boolean = false;
  private newProduct: Product = {
    id: 0,
    name: "",
    description: "",
    price: 0,
  };

  private validator = {
    textField: [
      (v: any) => !!v || "Field is required",
      (v: any) => v.length >= 3 || "Field require min three charts"
    ],
  };

  private save(): void {
      //vue router typescript allow only strin type
        this.$router.push({name: "ProductsList", params: 
            {
                action: "add",
                alertText: "Succesfully added new product",
                alertState: "true",
                newName: this.newProduct.name,
                newDescription: this.newProduct.description,
                newPrice: String(this.newProduct.price),
            }
        })
  }
}
</script>