﻿<template>
  <div>
    <v-card class="mx-auto" outlined>
      <v-toolbar>
        <v-toolbar-title class="headline mb-1">{{ title }}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn large color="red" @click="save">Save</v-btn>
        <router-link to="/products/list">
          <v-btn>Anuluj</v-btn>
        </router-link>
      </v-toolbar>
      <v-form v-model="valid">
        <v-text-field v-model="product.name" :rules="validator.textField" label="Name" required></v-text-field>
        <v-text-field v-model="product.surname" label="Description" :rules="validator.textField" required></v-text-field>
        <v-text-field v-model="product.email" label="Price" required></v-text-field>
      </v-form>
    </v-card>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import Axios from "axios-observable";

import Product from "../../models/Product";

@Component
export default class Edit extends Vue {
  @Prop() id!: string;

  private title: String = "Edit Product";
  private valid: Boolean = false;
  private product: Product = {
    id: 0,
    name: "",
    description: "",
    price: 0
  };

  private validator = {
    textField: [
      (v: any) => !!v || "Field is required",
      (v: any) => v.length >= 3 || "Field require min three charts"
    ],
  };

  private save(): void {
    // vue router typescript allow only strin type
    this.$router.push({name: "UsersList", params:
        {
            action: "edit",
            alertText: "Succesfully edited product",
            alertState: "true",
            userId: this.id,
            newName: this.product.name,
            newDescription: this.product.description,
            newPrice: String(this.product.price)
        }
    })
  }

  private getUsers(): void {
    Axios.get("/fakedata/products.json").subscribe(
      response => {
        for (const i in response.data.products) {
          if (response.data.products[i].id == Number(this.id)) {
            this.product = response.data.products[i];
          }
        }
      },
      error => console.log("err", error)
    );
  }

  created() {
    this.getUsers();
  }
}
</script>