﻿<template>
  <div>
    <v-card class="mx-auto" outlined>
      <div class="mb-5">
        <v-toolbar height="auto">
          <v-row>
            <v-col class="col-12 col-md-6 col-sm-12">
              <v-toolbar-title class="headline mb-1 text-sm-center">{{ title }}</v-toolbar-title>
            </v-col>
            <v-col class="col-12 col-md-3 col-sm-12">
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="search ..."
                single-line
                hide-details
                class="mr-3"
              ></v-text-field>
            </v-col>
            <v-col class="col-12 col-md-3 col-sm-12">
              <router-link to="/products/add" width="auto" class="mx-sm-auto">
                <v-btn large color="primary">Add New Product</v-btn>
              </router-link>
            </v-col>
          </v-row>
        </v-toolbar>
      </div>

      <v-alert
        v-model="alert"
        border="top"
        colored-border
        type="warning"
        elevation="2"
        dismissible
      >{{alertText}}</v-alert>

      <v-data-table :headers="tableSettings.header" :items="products" :search="search" class="mt-2">
        <template v-slot:item="row">
          <tr>
            <td>{{ row.item.id }}</td>
            <td>{{ row.item.name }}</td>
            <td>{{ row.item.description }}</td>
            <td>{{ row.item.price }}</td>
            <td>
              <v-btn
                color="primary"
                width="100%"
                @click="redirect(row.item.id)"
                class="mb-3 mt-3"
              >Edit</v-btn>
              <br />
              <v-btn color="red" width="100%" @click="deleteProduct(row.item.id)" class="mb-3">Delete</v-btn>
            </td>
          </tr>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import Axios from "axios-observable";

import Product from "../../models/Product";
import productsColumns from "../../models/ProductsColumns";

@Component
export default class List extends Vue {
  @Prop() action!: string;
  @Prop() newName!: string;
  @Prop() newDescription!: string;
  @Prop() newPrice!: string;
  @Prop() productId!: string;
  @Prop({ default: "" }) alertText!: string;
  @Prop({ default: "false" }) alertState!: string;

  private title: String = "Products";
  private search: String = "";
  private products: Array<Product> = [];
  private alert: Boolean = false;
  private tableSettings: productsColumns = {
    header: [
      {
        text: "ID",
        align: "start",
        sortable: true,
        value: "id"
      },
      {
        text: "Name",
        align: "start",
        sortable: false,
        value: "name"
      },
      {
        text: "Description",
        align: "start",
        sortable: true,
        value: "description"
      },
      {
        text: "Price",
        align: "start",
        sortable: true,
        value: "price"
      },
    ],
    itemsPerPage: 5
  };

  private redirect(productID: Number) {
    this.$router.push({
      name: "ProductEdit",
      params: {
        id: String(productID)
      }
    });
  }

  private deleteProduct(productID: Number) {

    const numb = Number(productID)

    for (const i in this.products) {
      if (this.products[i].id == numb) {
        this.products.splice(Number(i));
      }
    }
  }

  private getProduct(): void {
    Axios.get("/fakedata/products.json").subscribe(
      response => {
        this.alertState === "false"
          ? (this.alert = false)
          : (this.alert = true);

        if (this.action === "add" && typeof this.newName !== "undefined") {
          const newProduct: Product = {
            id: response.data.products.length,
            name: this.newName,
            description: this.newDescription,
            price: Number(this.newPrice)
          };
          response.data.products.push(newProduct);
        }

        if (this.action === "edit" && typeof this.productId !== "undefined") {
          for (const i in response.data.products) {
            if (response.data.products[i].id == Number(this.productId)) {
              response.data.products[i].name = this.newName;
              response.data.products[i].description = this.newDescription;
              response.data.products[i].price = this.newPrice;
            }
          }
        }
        this.products = response.data.products;
      },
      error => console.log("err", error)
    );
  }

  created() {
    this.getProduct();
  }
}
</script>
