﻿<template>
  <div>
    <v-card class="mx-auto" outlined>
      <v-toolbar dark>
        <v-toolbar-title class="headline mb-1">{{ title }}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn large color="error" @click="save" class="mr-3" height="100%">Save</v-btn>
        <router-link to="/users/list" style="height: 100%">
          <v-btn larg color="primary" height="100%">
            Cancel
          </v-btn>
        </router-link>
      </v-toolbar>
      <v-form v-model="valid">
        <v-text-field v-model="newUser.name" :rules="validator.textField" label="Name" required class="pl-2 pr-2"></v-text-field>
        <v-text-field
          v-model="newUser.surname"
          label="Surname"
          :rules="validator.textField"
          required
          class="pl-2 pr-2"
        ></v-text-field>
        <v-text-field v-model="newUser.email" label="E-mail" :rules="validator.emailField" required class="pl-2 pr-2"></v-text-field>
        <v-text-field v-model="newUser.company" label="Company" :rules="validator.textField" required class="pl-2 pr-2"></v-text-field>
        <v-select v-model="newUser.country" :items="countries" label="Country" class="pl-2 pr-2"></v-select>

        <v-text-field
          v-model="newUser.address.street"
          label="Street"
          :rules="validator.textField"
          required
          class="pl-2 pr-2"
        ></v-text-field>
        <v-text-field v-model="newUser.address.number" label="Number" required class="pl-2 pr-2"></v-text-field>
        <v-text-field
          v-model="newUser.address.code"
          label="Code"
          :rules="validator.textField"
          required
          class="pl-2 pr-2"
        ></v-text-field>
      </v-form>
    </v-card>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Axios from "axios-observable";

import Users from "../../models/Users";

@Component
export default class Add extends Vue {

  private title: String = "Add User";
  private valid: Boolean = false;
  private newUser: Users = {
    id: 0,
    name: "",
    surname: "",
    email: "",
    company: "",
    address: {
      country: "",
      street: "",
      number: "",
      code: ""
    }
  };
  public countries: Array<string> = [
    "",
    "Poland",
    "Germany", 
    "Czech Republic"
  ]


  private validator = {
    textField: [
      (v: any) => !!v || "Field is required",
      (v: any) => v.length >= 3 || "Field require min three charts"
    ],
    emailField: [
      (v: any) => !!v || "E-mail is required",
      (v: any) => /.+@.+/.test(v) || "E-mail must be valid"
    ]
  };

  private save(): void {
    //vue router typescript allow only string type
    this.$router.push({
      name: "UsersList",
      params: {
        action: "add",
        alertText: "Succesfully added new user",
        alertState: "true",
        newName: this.newUser.name,
        newSurname: this.newUser.surname,
        newEmail: this.newUser.email,
        newCompany: this.newUser.company,
        newCountry: this.newUser.address.country,
        newStreet: this.newUser.address.street,
        newNumber: this.newUser.address.number,
        newCode: this.newUser.address.code
      }
    });
  }
}
</script>