﻿<template>
  <div>
    <v-card class="mx-auto" outlined>
      <v-toolbar>
        <v-toolbar-title class="headline mb-1">{{ title }}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn large color="error" @click="save" class="mr-3" height="100%">Save</v-btn>
        <router-link to="/users/list" style="height: 100%">
          <v-btn larg color="primary" height="100%">
            Cancel
          </v-btn>
        </router-link>
      </v-toolbar>
      <v-form v-model="valid">
        <v-text-field v-model="user.name" :rules="validator.textField" label="Name" required class="pl-2 pr-2"></v-text-field>
        <v-text-field v-model="user.surname" label="Surname" :rules="validator.textField" required class="pl-2 pr-2"></v-text-field>
        <v-text-field v-model="user.email" label="E-mail" :rules="validator.emailField" required class="pl-2 pr-2"></v-text-field>
        <v-text-field v-model="user.company" label="Company" :rules="validator.textField" required class="pl-2 pr-2"></v-text-field>
        <v-select v-model="user.address.country" :items="countries" label="Country" :item-value="user.country" :item-text="user.country" :value="user.address.country" class="pl-2 pr-2"></v-select>
        <v-text-field
          v-model="user.address.street"
          label="Street"
          :rules="validator.textField"
          required
          class="pl-2 pr-2"
        ></v-text-field>
        <v-text-field v-model="user.address.number" label="Number" required class="pl-2 pr-2"></v-text-field>
        <v-text-field
          v-model="user.address.code"
          label="Code"
          :rules="validator.textField"
          required
          class="pl-2 pr-2"
        ></v-text-field>
      </v-form>
    </v-card>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import Axios from "axios-observable";

import Users from "../../models/Users";

@Component
export default class Edit extends Vue {
  @Prop() id!: string;

  private title: String = "Edit User";
  private valid: Boolean = false;
  private user: Users = {
    id: 0,
    name: "",
    surname: "",
    email: "",
    company: "",
    address: {
      country: "",
      street: "",
      number: "",
      code: ""
    }
  };
    public countries: Array<string> = [
    "",
    "Poland",
    "Germany", 
    "Czech Republic"
  ]

  private validator = {
    textField: [
      (v: any) => !!v || "Field is required",
      (v: any) => v.length >= 3 || "Field require min three charts"
    ],
    emailField: [
      (v: any) => !!v || "E-mail is required",
      (v: any) => /.+@.+/.test(v) || "E-mail must be valid"
    ]
  };

  private save(): void {
    // vue router typescript allow only strin type
    this.$router.push({
      name: "UsersList",
      params: {
        action: "edit",
        alertText: "Succesfully edited user",
        alertState: "true",
        userId: this.id,
        newName: this.user.name,
        newSurname: this.user.surname,
        newEmail: this.user.email,
        newCompany: this.user.company,
        newCountry: this.user.address.country,
        newStreet: this.user.address.street,
        newNumber: this.user.address.number,
        newCode: this.user.address.code
      }
    });
  }

  private getUsers(): void {
    Axios.get("/fakedata/users.json").subscribe(
      response => {
        for (const i in response.data.users) {
          if (response.data.users[i].id == Number(this.id)) {
            this.user = response.data.users[i];
          }
        }
      },
      error => console.log("err", error)
    );
  }

  created() {
    this.getUsers();
  }
}
</script>