﻿<template>
  <div>
    <v-card class="mx-auto" outlined>
      <div class="mb-5">
        <v-toolbar height="auto">
          <v-row>
            <v-col class="col-12 col-md-6 col-sm-12">
              <v-toolbar-title class="headline mb-1 text-sm-center">{{ title }}</v-toolbar-title>
            </v-col>
            <v-col class="col-12 col-md-3 col-sm-12">
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="search ..."
                single-line
                hide-details
                class="mr-3"
              ></v-text-field>
            </v-col>
            <v-col class="col-12 col-md-3 col-sm-12">
              <router-link to="/users/add" width="auto" class="mx-sm-auto">
                <v-btn large color="primary">Add New User</v-btn>
              </router-link>
            </v-col>
          </v-row>
        </v-toolbar>
      </div>

      <v-alert
        v-model="alert"
        border="top"
        colored-border
        type="warning"
        elevation="2"
        dismissible
      >{{alertText}}</v-alert>

      <v-data-table :headers="tableSettings.header" :items="users" :search="search" class="mt-2">
        <template v-slot:item="row">
          <tr>
            <td>{{ row.item.id }}</td>
            <td>{{ row.item.name }}</td>
            <td>{{ row.item.surname }}</td>
            <td>{{ row.item.email }}</td>
            <td>{{ row.item.company }}</td>
            <td>
              <v-btn
                color="primary"
                width="100%"
                @click="redirect(row.item.id)"
                class="mb-3 mt-3"
              >Edit</v-btn>
              <br />
              <v-btn color="red" width="100%" @click="deleteUser(row.item.id)" class="mb-3">Delete</v-btn>
            </td>
          </tr>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import Axios from "axios-observable";

import Users from "../../models/Users";
import UsersColumns from "../../models/UsersColumns";

@Component
export default class List extends Vue {
  @Prop() action!: string;
  @Prop() newName!: string;
  @Prop() newSurname!: string;
  @Prop() newEmail!: string;
  @Prop() newCompany!: string;
  @Prop() newCountry!: string;
  @Prop() newStreet!: string;
  @Prop() newNumber!: string;
  @Prop() newCode!: string;
  @Prop() userId!: string;
  @Prop({ default: "" }) alertText!: string;
  @Prop({ default: "false" }) alertState!: string;

  private title: String = "Users";
  private search: String = "";
  private users: Array<Users> = [];
  private alert: Boolean = false;
  private tableSettings: UsersColumns = {
    header: [
      {
        text: "ID",
        align: "start",
        sortable: true,
        value: "id"
      },
      {
        text: "Name",
        align: "start",
        sortable: false,
        value: "name"
      },
      {
        text: "Surname",
        align: "start",
        sortable: true,
        value: "surname"
      },
      {
        text: "E-mail",
        align: "start",
        sortable: true,
        value: "email"
      },
      {
        text: "Company",
        align: "start",
        sortable: true,
        value: "company"
      },
      {
        text: "Manage",
        align: "start",
        sortable: false,
        value: ""
      }
    ],
    itemsPerPage: 5
  };

  private redirect(userID: Number) {
    this.$router.push({
      name: "UserEdit",
      params: {
        id: String(userID)
      }
    });
  }

  private deleteUser(userID: Number) {

    const numb = Number(userID)

    for (const i in this.users) {
      if (this.users[i].id == numb) {
        this.users.splice(Number(i));
      }
    }
  }

  private getUsers(): void {
    Axios.get("/fakedata/users.json").subscribe(
      response => {
        this.alertState === "false"
          ? (this.alert = false)
          : (this.alert = true);

        if (this.action === "add" && typeof this.newName !== "undefined") {
          const newUser: Users = {
            id: response.data.users.length,
            name: this.newName,
            surname: this.newSurname,
            company: this.newCompany,
            email: this.newEmail,
            address: {
              country: this.newCountry,
              street: this.newStreet,
              number: this.newNumber,
              code: this.newCode
            }
          };
          response.data.users.push(newUser);
        }

        if (this.action === "edit" && typeof this.userId !== "undefined") {
          for (const i in response.data.users) {
            if (response.data.users[i].id == Number(this.userId)) {
              response.data.users[i].name = this.newName;
              response.data.users[i].surname = this.newSurname;
              response.data.users[i].company = this.newCompany;
              response.data.users[i].email = this.newEmail;
              response.data.users[i].address.country = this.newCountry;
              response.data.users[i].address.street = this.newStreet;
              response.data.users[i].address.number = this.newNumber;
              response.data.users[i].address.code = this.newCode;
            }
          }
        }
        this.users = response.data.users;
      },
      error => console.log("err", error)
    );
  }

  created() {
    this.getUsers();
  }
}
</script>
