﻿<template>
  <div>
    <v-navigation-drawer permanent mobile-break-point="600">
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="title">Test Administrator</v-list-item-title>
          <v-list-item-subtitle>Vue in use</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list dense nav>
        <v-list-item v-for="item in items" :key="item.title" link>
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>
              <router-link :to="item.to">{{ item.label }}</router-link>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

import MenuItem from "../../models/MenuItem";

@Component
export default class Navigation extends Vue {
  private items: Array<MenuItem> = [
    { label: "Panel", icon: "mdi-view-dashboard", to: "/" },
    { label: "Users", icon: "mdi-image", to: "/users/list" },
    { label: "Products", icon: "mdi-help-box", to: "/products/list" }
  ];

  private routerLink(id: Number): void {
    this.$router.push({ name: "Add User" });
  }
}
</script>
