<template>
    <v-app dark>
    <v-container fluid>
      <v-row>
        <v-col cols="2">
          <Navigation />
        </v-col>
 
        <v-col cols="10">
          <router-view />
        </v-col>
      </v-row>
    </v-container>
    </v-app>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator"

import Navigation from "@/components/navigation/Navigation.vue"

@Component({
  components: {
    Navigation
  }
})

export default class App extends Vue {}
</script>

<style lang="scss">
  a {
    font-weight: bold;
    color: #2c3e50;
    text-decoration: none;
  }
</style>